body {
    font-family: Cambria;
    color: green;
    background-color: white;
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 12px;
     

}

.navbar a{
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(186, 79, 79);
    padding-right: 80px;
    
}

.navbar a:hover{
    color: black;
    background-color: transparent;
}


.Menytittel {
    font-family: cursive;
    text-align: center;
    color: rgb(96, 96, 96);
    text-decoration:underline;
    
    

}

p.one {

    font-size: 14px;
    color: black;
}

.Meny {
    text-align: center;
}

.header {
    background-image: url("images/pastaheader.jpeg");
    text-align: center;
    height: 180px;
    width: 1400px;
    display: inline-block;
    vertical-align: middle;

    
}