body {
    font-family: Cambria;
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
}
    
h1 {
    font-family: cursive;
}
 




.Menytittel {
    font-family: cursive;
    text-align: center;
    color: rgb(96, 96, 96);
    text-decoration:underline;
    
    

}


.Meny {
    text-align: center;
}



.footer {
    display: block;
    background-color: antiquewhite;
    bottom: 0;
    width: 100%;
}

.Åpningstider{
    font-size:large;
    text-align: center;
    color: black;
    top: 200;
    padding-bottom: 20px;
    
}

.p1 {
    font-size: 20px;
    padding-top: 80px;
    line-height: 50px;
}